body
{
    margin: auto;
    background-color: silver;
}
h1
{
    font-weight: bold;
    color: black;
    text-align: center;
}

h2
{
    color: black;
    font-weight: bold;
}
img
{
    width: 200px;
}
