img
{
    width: 200px;
}
body
{
    background-image: url('depositphotos_16353625-stock-photo-old-paper-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;
}
#tartalom
{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
